h1 {
  font-size: 1em;
  font-weight: normal;
}

a, a:visited {
  color: #0095dd;
}

.addon-box {
  align-items: center;
  border-top: gray solid 1px;
  display: flex;
  height: 80px;
  justify-content: space-around;
  width: 400px;
}

.addon-box div {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.addon-box h2, .addon-box h3 {
  font-weight: normal;
  margin: auto;
  width: 100%;
}

.addon-box .image-box {
  height: 100%;
  width: 20%;
}

.addon-box .image-box img {
  display: block;
  margin: auto;
}

.addon-box .inner-box-1 {
  height: 100%;
  width: 60%;
}

.addon-box .inner-box-2 {
  height: 100%;
  margin: 0;
  width: 15%;
}

.addon-box .inner-box-2 a {
  padding: auto;
  text-decoration: none;
  width: 100%;
}

.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 50px;
}

/* Hide default HTML checkbox */
.switch button {
  display:none;
}

/* The slider */
.slider {
  background-color: #ccc;
  border-radius: 20px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: white;
  border-radius: 50%;
  bottom: 2px;
  content: "";
  height: 16px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

button.installed + .slider {
  background-color: #4CAF50;
}

button.installing + .slider {
  background-color: #FC3;
}

button.installing + .slider:before {
  transform: translateX(22px);
}

button.installed + .slider:before {
  transform: translateX(30px);
}
